<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <div class="container" fxLayout="row" fxLayoutAlign="center none">
            <mat-card style="width: 640px; height: auto">
                <mat-card-title>Face Scanner</mat-card-title>
                <mat-card-subtitle>Toggle your camera here &nbsp;
                    <span matTooltip="Toggle Cam">
                        <mat-slide-toggle (click)="toggleWebcam()"></mat-slide-toggle>
                    </span>
                </mat-card-subtitle>
                <mat-card-content fxLayoutAlign="center none">
                    <webcam [height]="500" [width]="375" [trigger]="triggerObservable"
                        (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                        [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                        [videoOptions]="videoOptions"
                        [imageQuality]="1"
                        (cameraSwitched)="cameraWasSwitched($event)"
                        (initError)="handleInitError($event)">
                    </webcam>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" (click)="triggerSnapshot();">Smile Pls</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <mat-divider></mat-divider>
        <div class="container" fxLayout="row" fxLayoutAlign="center none">
            <mat-card style="width: 640px; height: auto">
                <mat-card-title>Captured Image</mat-card-title>
                <mat-card-subtitle>
                    <h4 *ngIf="errors.length == 0">Image to be processed.</h4>
                    <h4 *ngIf="errors.length > 0">Messages:</h4>
                    <ul *ngFor="let error of errors">
                        <li>{{error | json}}</li>
                    </ul>
                </mat-card-subtitle>
                <mat-card-content *ngIf="webcamImage">
                    <img mat-card-image [src]="webcamImage.imageAsDataUrl"/>
                </mat-card-content>
                <mat-card-actions *ngIf="webcamImage" fxLayoutGap="5px">
                    <button mat-raised-button color="accent" (click)="uploadImage();">Submit</button>
                    <span *ngIf="showFaceCount">
                        <button mat-raised-button color="warn" *ngIf="faceCount>0">Number of faces: {{faceCount}}</button>
                        <button mat-raised-button color="warn" *ngIf="faceCount==0">No faces identified</button>
                    </span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
