<div class="container">
    <form>
        <mat-card>
            <mat-card-title>Megham Sign Up Form</mat-card-title>
            <mat-card-subtitle>Create your Megham account</mat-card-subtitle>
            <mat-card-content>
                <mat-form-field>
                    <input id="firstName" matInput placeholder="First Name" formControlName="firstName" autocomplete="firstName"
                            type="text">
                </mat-form-field>
                <mat-form-field>
                    <input id="lastName" matInput placeholder="Last Name" formControlName="lastName" autocomplete="lastName"
                            type="text">
                </mat-form-field>
                <mat-form-field>
                    <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                            type="email">
                </mat-form-field>
                <mat-form-field>
                    <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password"
                            autocomplete="current-password">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button id="signup" color="primary" (click)="signup()">Sign Up</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>